.premium {
padding-top: 74px;
padding-bottom: 39px;

@media screen and (min-width: 1174px) {
    padding-top: 224px;
    padding-bottom: 129px;
}

&__box {
    display: flex;
    flex-direction: column;
    // align-items: center;
    @media screen and (min-width: 1174px) {
        display: flex;
        flex-direction:row-reverse ;
        align-items: center;
        justify-content: space-between;
        
}
}



&__list {
    display: flex;
   justify-content: center;
   margin-bottom: 80px;
   position: relative;
   
    
   
}

&__img {
   width: 202px;

@media screen and (min-width: 1174px) {
    width: 444px;
    height: 296px;
}
}



&__item:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
     transform: translate(-10%, 10%);
   .premium__img{
    width: 200px;

   }
    @media screen and (min-width: 1174px) {
      
    
    }
   }

   &__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

&__tittle {
    color: #E43071;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    width: 259px;
    margin-bottom: 13px;
    
    
    @media screen and (min-width: 1174px) {
        margin-bottom: 4px;
        width: 383px;

}
}


&__text {
    color: #424242;
font-size: 16px;
font-weight: 400;
line-height: 2;
width: 269px;
margin-bottom: 50px;
@media screen and (min-width: 1174px) {
    width: 489px;
    line-height:2.31;
    margin-bottom: 25px;
}
}

&__button {
    color: #E43071;
text-align: center;
font-size: 16px;
font-weight: 600;
line-height: 2.31;
padding: 14px 93px 12px 102px;
border-radius: 38.5px;
border: 2px solid #E43071;
@media screen and (min-width: 1174px) {
    padding: 16px 72px;
}
}


}
